@font-face {
  font-family: 'opensans';
  font-display: swap;
  src: url('./assets/fonts/OpenSans/light_OpenSans.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'opensans';
  font-display: swap;
  src: url('./assets/fonts/OpenSans/regular_OpenSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'opensans';
  font-display: swap;
  src: url('./assets/fonts/OpenSans/medium_OpenSans.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'opensans';
  font-display: swap;
  src: url('./assets/fonts/OpenSans/semibold_OpenSans.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'opensans';
  font-display: swap;
  src: url('./assets/fonts/OpenSans/bold_OpenSans.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'opensans';
  font-display: swap;
  src: url('./assets/fonts/OpenSans/extrabold_OpenSans.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
